body {
  background-image: url('http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg');
  background-size: cover;
}

.game_container {
  white-space: nowrap;
  padding: 25% 0;
}

.selected_game_thumb {
  display: inline-block;
  color: white;
  width: 250px;
  height: 250px;
  padding: 0 25px;
  margin: 0 25px;
  background-color: blue;
}

.game_thumb {
  display: inline-block;
  color: white;
  width: 200px;
  height: 200px;
  margin: 0 25px;
  padding: 0 25px;
  background-color: blue;
}
